.container
  %h1 GAWI
  
  .spinner

  = form_for :search, url: "/search", method: :get do |f|
    = f.select :category, options_for_select(@crime_categories)
    .hide
      = f.text_field :admin_ward_id

    = f.submit :search

  #approx-loc

