#index
  .container
    = form_for :search, url: "/search", method: :get do |f|
      %header
        %a#logo
        #approx-loc-wrapper      
          #approx-loc
          %p
            =link_to "Select Another Location", "#", class: "sex-link show-me-link"
            =link_to "Hide Select", "#", class: "sex-link hide-me-link hide"
          .monkey.hide
            %label.label Location
            = f.select :admin_ward_id, options_for_select(AdminWard.all.order(:name).map{ |c| [c['name'], c['id']] }), class: "select-me", prompt: "Please select"

      #search-wrapper
        #form 
          -#= form_for :search, url: "/search", method: :get do |f|
          = f.select :category, options_for_select(@crime_categories)
          

          = f.submit :search
    
    #inspiration
      %h2
        Looking for inspiration?
      #inspiration-links
        %ul.clearfix
          %li
            %a{href:"/burglary/st-marys"}
              %h3 GRAB A FLATSCREEN
              %p 
                %strong Suggeston:
                St Mary's
          %li
            %a{href:"/drugs/failsworth-east"}
              %h3 PEDDLE SOME SMACK
              %p 
                %strong Suggeston:
                Failsworth East
          %li
            %a{href:"/robbery/ardwick"}
              %h3 STOCK UP ON CASH
              %p 
                %strong Suggeston:
                Ardwick
          %li
            %a{href:"/vehicle-crime/ancoats-and-clayton"}
              %h3 STEAL A MOTOR
              %p 
                %strong Suggeston:
                Ancoats and Clayton
            
          
    
    
    .loader
      .spinner
        .dot1
        .dot2
/ .container
/   %h1 GAWI
/   %h2 Crime, simplified
/
/   = form_for :search, url: "/search", method: :get do |f|
/     %label.label Crime Type
/     = f.select :category, options_for_select(@crime_categories)
/     %p
/       #approx-loc
/       =link_to "Select Another Location", "#", class: "show-me-link"
/       =link_to "Hide Select", "#", class: "hide-me-link hide"
/     .monkey.hide
/       %label.label Location
/       = f.select :admin_ward_id, options_for_select(AdminWard.all.map{ |c| [c['name'], c['id']] }), class: "select-me", prompt: "Please select"
/     %br
/     = f.submit :search



:javascript
  $( ".show-me-link" ).click(function() {
    $( ".monkey" ).removeClass("hide");
    $( ".show-me-link" ).addClass("hide");
    $( ".hide-me-link" ).removeClass("hide");
  });
  $( ".hide-me-link" ).click(function() {
    $( ".monkey" ).addClass("hide");
    $( ".show-me-link" ).removeClass("hide");
    $( ".hide-me-link" ).addClass("hide");
  });
  
  $( "#search_admin_ward_id").change(function(){
    $( "#approx-loc").addClass("hide");
    $( ".hide-me-link" ).addClass("hide");

  });
