@import 'variables';

#index {
  .container {
    max-width: 800px;
    header {
      #logo {
        margin: 25px auto 40px;
        width: 480px;
        height: 190px;
        float: none;
      	background-size: 480px 190px;    
      }
      #approx-loc-wrapper {
        text-align: center;
        font-size: 1.4em;
        color: #2f2f2f;
        margin: 0 0 40px;
        min-height: 20px;
      
        #approx-loc {
          display: inline-block;
        }
        a {
          font-weight: bold;
        }
      }
    }
    #search-wrapper {
      width: 100%;
      float: none;
      margin:0 auto 40px auto;
    }
    #inspiration {
      margin: 0 0 40px;
      h2 {
        text-align: center;
        color: #fff;
        font-size: 2.2em;
        margin: 0 0 20px;
      }
      #inspiration-links {
        box-shadow: 0 0 5px rgba(100,100,100,0.8);
      
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        
          li {
            width: 50%;
            float: left;
            border-right: solid 1px $border-color;
            border-bottom: solid 1px $border-color;
            
            a {
            	background-size: 50px;
              background-repeat: no-repeat;
              background-position: 20px 50%;
              background-color: #fff;
            }

            
            
            &:nth-of-type(2n) {
              border-right: none;
            }
            &:nth-of-type(4n), &:nth-of-type(4n - 1) {
              border-bottom: none;
            }
            &:nth-of-type(1) a {
          	  background-image: asset-url('tv-icon.png');
              border-radius: 5px 0 0 0;              
            }
            &:nth-of-type(2) a {
          	  background-image: asset-url('smack-icon.png');
              border-radius: 0 5px 0 0;              
            }
            &:nth-of-type(3) a {
          	  background-image: asset-url('cash-icon.png');              
              border-radius: 0 0 0 5px;              
            }
            &:nth-of-type(4) a {
          	  background-image: asset-url('car-icon.png');              
              border-radius: 0 0 5px 0;              
            }
            
            
            a {
              padding: 25px 25px 25px 100px;
              display: block;
              min-height: 100px;
              @extend.trans;
              
              &:hover {
                background-color: #f9f9f9;
              }
              
              h3 {
                color: $light-blue;
                font-size:2.0em;
              }
              p {
                font-size: 1.3em;
                color: #3b3b3b;
              }
            }
          }
        }
      
      }
    }
  } 
}